{% extends 'blog/post_list.html' %}

{% block content %}

<table class="table table-bordered">
    <thead>
       <tr>
        <td>#</td>
         <td>nombre</td>
         <td>raza</td>
         <td>descripcion</td>
         <td>Estado</td>
         <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        {% if mascotas %}
        {% for mascota in mascotas %}
         <tr>
            <td>{{ mascota.id }}</td>
             <td>{{ mascota.nombre }}</td>
             <td>{{ mascota.raza }}</td>
             <td>{{ mascota.descripcion }}</td>
             <td>{{ mascota.estado }}</td>
             <td>
                 <a class="btn btn-primary"  href="{% url 'mascota:mascota_editar' mascota.id %}">Editar</a>
                 <a class="btn btn-danger"  href="{% url 'mascota:mascota_eliminar' mascota.id %}">Eliminar</a>
             </td>

        </tr>
        {% endfor %}

        {% else %}

        <h1>No hay registros</h1>

        {% endif %}
    </tbody>
</table>
{% endblock %}